.transaction-section {
  margin-top: var(--spacer-xxlarge);
}

.transaction-section .title {
  margin: var(--spacer-large) 0 0 0;
  font-size: var(--font-xlarge);
  font-weight: 500;
  line-height: 125%;
}

.tabs {
  margin-top: var(--spacer-large);
}

.tabs__list {
  display: flex;
  align-items: flex-start;
  gap: var(--spacer-small);
}

.tabs__content {
  margin-top: var(--spacer-large);
}

.avatar {
  box-sizing: border-box;
  user-select: none;
  width: var(--spacer-xxlarge);
  height: var(--spacer-xxlarge);
  font-size: var(--font-large);
  font-weight: 600;
  border-radius: var(--radius-medium);
  border: 2px solid var(--primary-300);
  background-color: var(--background-900);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  display: flex;
}

table {
  background-color: var(--background-800);
  border-radius: var(--radius-medium);
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

thead tr {
  border-bottom: 1px solid var(--background-600);
}

td {
  padding:  var(--spacer-small) var(--spacer-xsmall);
}

th {
  color: var(--primary-300);
  font-weight: 400;
  padding: var(--spacer-medium) var(--spacer-xsmall);
  line-height: normal;
  text-align: left;
}

tbody > tr + tr {
  margin-top: var(--spacer-xsmall);
}

table thead .description { 
  width: 30%;
}

table thead .date { 
  width: 45%;
}

table thead .amount {
  width: 25%;
  text-align: right;
}

.transaction-detail {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--spacer-medium);
}

.transaction-category {
  color: var(--primary-300);
  font-size: 0.875rem;
  line-height: 150%;
}

.transaction-amount {
  text-align: right;
  font-weight: 500;
}